@model ComputerCaseFormViewModel


<div class="card col-4" style="width: 19rem; ">
    <div class="card-body">
        <h3 class="card-title text-center">@Model.ModelName</h3>
        <hr>
        
            <img src="@Model.ImageUrl" style="width:200px" />
            <hr />
            <div>
                <p class="mb-0"><span class="fw-bold">Standalone Price: </span>$@Model.Price</p>

            </div>
        

    </div>
    <a asp-controller="ComputerCase" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
