@using Microsoft.AspNetCore.Identity
@using PCBuilder.Data.Models;
@using PCBuilder.Services.Contracts;
@using PCBuilder.Web.Infrastructure.Extensions
@inject IBuilderService BuilderService
@{
    bool isUserBuilder = await BuilderService.BuilderAlreadyExcistsByUserId(User.GetId()!);

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PCBuilder</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PCBuilder.styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header>
        <partial name="_NotificationsPartial" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PCBuilder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                      
                        <li>
                            <a class="btn btn-primary btn-lg active" asp-area="" asp-controller="PCBuild" asp-action="All">Browse all pc Builds!</a>
                            @if (User.Identity!.IsAuthenticated)
                            {
                                @if (isUserBuilder)
                                {
                                    <a class="btn btn-primary btn-lg active" asp-area="" asp-controller="PCBuild" asp-action="Create">Create a new PC</a>
                                }
                            }
                        </li>
                    </ul>


                    @if (User.Identity!.IsAuthenticated)
                    {
                        @if (isUserBuilder)
                        {
                            <div class="dropdown" style="padding-right:10px">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    CPUs
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="CPUs">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="CPU" asp-action="All">All CPUs</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="CPU" asp-action="Add">Add new <br>CPU</a></li>

                                </ul>
                            </div>

                            <div class="dropdown" style="padding-right:10px">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    GPUs
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="GPUs">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="GraphicsCard" asp-action="All">All GPUs</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="GraphicsCard" asp-action="Add">Add new graphics card</a></li>

                                </ul>
                            </div>
                            <div class="dropdown" style="padding-right:10px">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Motherboards
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="MB">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="MotherBoard" asp-action="All">All Motherboards</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="MotherBoard" asp-action="Add">Add new Motherboards</a></li>

                                </ul>
                            </div>
                            <div class="dropdown" style="padding-right:10px">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Computer Cases
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="MB">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="ComputerCase" asp-action="All">All computer cases</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="ComputerCase" asp-action="Add">Add new computer case</a></li>

                                </ul>
                            </div>
                        }
                    }


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PCBuilder
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
