@model ComputerCaseFormViewModel
@{
    ViewData["Title"] = "Add new Graphics card";

}

<h3 class="text-center">@ViewData["Title"] </h3>



<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="ModelName">Model Name</label>

                <input asp-for="ModelName" class="form-control" placeholder="Model Name">
                <span asp-validation-for="ModelName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Link to product image</label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Link to product image">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price $</label>
                <input asp-for="Price" class="form-control" placeholder="Price">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>


            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
