@model IEnumerable<ComputerCaseFormViewModel>
@{
    ViewBag.Title = "List of all available computer cases";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.ModelName</h5>
                <hr>

                <img src="@e.ImageUrl" style="width:200px;" />

                <hr>
                <p class="mb-0"><span class="fw-bold">Price: </span>$@e.Price </p>

            </div>

            <a asp-controller="ComputerCase" asp-action="Details" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>

        </div>
    }
</div>