@model ComputerCaseFormViewModel
@{
    ViewBag.Title = "Details";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.ModelName</h3>
            <hr>
            <div style="display:flex">
                <img src="@Model.ImageUrl" style="width:500px" />
                <div>
                    <p class="mb-0"><span class="fw-bold">Price: </span>@Model.Price $</p>

                </div>
            </div>


        </div>

        <a asp-controller="ComputerCase" asp-action="All" class="btn btn-info mb-2 w-100 p-3 fw-bold">Back to All</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
